# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.queues-stream-example.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Development\bitbucket\.net\queues-stream-example-csharp\.idea\.idea.queues-stream-example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
